.root {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: var(--space-5);
}

@media (max-width: 70rem) {
  .root {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 47rem) {
  .root {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--space-3);
  }
}
